/templates/GSPB15disclamerPage.pdf
/templates/I4691E_disclaimer.pdf
/templates/book-concordance.tex
/templates/book.idx
/templates/book.ilg
/templates/book.ind
/templates/book.log
/templates/book.pdf
/templates/book.synctex.gz
/templates/book.tex
/templates/book.toc
.Rproj.user
.Rhistory
.RData
.Rproj
