.Rproj.user
.Rhistory
.RData
*.Rproj
output/
project/
input/templates/cover/covermaps/covermap_RAF.pdf
input/templates/cover/covermaps/covermap_RAP.pdf
input/templates/cover/covermaps/covermap_REU.pdf
input/templates/cover/covermaps/covermap_RNE.pdf
input/templates/cover/covermaps/maps_for_covers.md
input/templates/cover/covermaps/maps_for_covers.html
.sync
databasehomma
steve
sync.sh
steve.Rmd
tmp
china_tmp.R
output_tmp
country_profiles_20170601.html
input_data
